.theDisplay {
            grid-area: theDisplay;
            justify-self: right;
            align-self: center;
            font-size: 80px;
            height: 80px;
            color: #c8c8c8
        }

        .btn {
            font-size: 30px;
            color: white;
            background-color: #3e3e3e;
        }
        .btn:hover {background-color: #4e4e4e}

        .btn:active {
            background-color: #4e4e4e;
            box-shadow: 0 5px #666;
            transform: translateY(2px);
        }



        .func {
            background-color: #757575;
        }

        .nine {
            grid-area: nine;
        }
        .eight {
            grid-area: eight;
        }
        .seven {
            grid-area: seven;
        }
        .six {
            grid-area: six;
        }
        .five {
            grid-area: five;
        }
        .four {
            grid-area: four;
        }
        .three {
            grid-area: three;
        }
        .two {
            grid-area: two;
        }
        .one {
            grid-area: one;
        }
        .equal {
            grid-area: equal;
            background-color: #c8c8c8;
        }
        .add {
            grid-area: add;
        }
        .subtract {
            grid-area: subtract;
        }
        .multiply {
            grid-area: multiply;
        }
        .divide {
            grid-area: divide;
        }
        .clear {
            grid-area: clear;
        }
        .decimal {
            grid-area: decimal;
        }
        .zero {
            grid-area: zero;
        }
        .back {
            grid-area: back;
        }
        body {
            background-color: rgb(71, 71, 71);
        }
        h1 {
            margin-top: 30px;
            text-align: center;
            font-family: fantasy;
            font-size: 1vw;
        }
        a {
            color:black;
             text-decoration: none;
        }
        .container {
            margin: auto;
            display: grid;
            max-width: 400px;
            height: 450px;
            grid-template-columns: repeat(4, 1fr);
            overflow: hidden;
            grid-gap: 5px;
            grid-template-rows: auto;
            grid-template-areas:
                "theDisplay theDisplay theDisplay theDisplay"
                "clear clear clear add"
                "seven eight nine subtract"
                "four five six multiply"
                "one two three divide"
                "decimal zero back equal"                
        }

        @media only screen and (max-width: 480px) {
            h3 {
                 font-size: 40px;
            }
            h1 {
                font-size: 10px;
            }
       }
